.edit-delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-delete-div .btn,
.edit-delete-div .btn-primary {
  width: 5%;
  background-color: transparent;
  color: white;
  border: none;
}

.modalText {
  color: black;
}
