.edit-delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-delete-div .btn,
.edit-delete-div .btn-primary {
  width: 10%;
  background-color: transparent;
  color: white;
  border: none;
}

#delete-slate-btn {
  margin-top: 0.5rem;
}

.modalText {
  color: black;
}

.no-restaurants-yet-div {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: rgba(192, 192, 192, 0.3);
}
