@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.card{
    text-align: center;
    margin-top: 20px;
    display: flex;
  justify-content: center;
    
}

.card-img{
    box-shadow: 3px 5px 13px 4px rgba(0,0,0,0.21);
}

.card-body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2rem;
    border-radius: 6px;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    box-shadow: 12px 5px 29px 11px rgba(0,0,0,0.24);
}
 
.card-name{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

.card-btn{
    margin-top: 10px;
    padding-right: 14px;
    /* margin-right: 14px; */
    justify-content: center;
}

