.col-12 {
  text-align: center;
}

.profile-card {
  background-color: rgba(192, 192, 192, 0.3);
  border-radius: 8px;
  margin-top: 20px;
}

.info {
  color: #fff;
}

li {
  list-style: none;
}

.warning-message {
  color: red;
  padding-top: 1rem;
  font-size: 1rem;
  font-style: italic;
}

.no-slates-yet-div {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}
