.profile-slates-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slate-card {
  width: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.small {
  color: #000000;
}

.slateName {
  color: black;
}
