.restaurant-card {
  width: 30%;
  margin-left: 1.66%;
  margin-right: 1.66%;
}

.restaurant-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurant-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.restaurant-link:hover {
  color: black;
}

.small-text {
  color: black;
  font-size: 18px;
}

.slate-select-div {
  font-size: 22px;
  padding: 15px 0 15px 0;
}

.card-image {
  padding: 1rem;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .restaurant-card {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}