.body{
    background-image: url(https://media.istockphoto.com/photos/wood-table-on-blur-cafe-with-light-background-picture-id802636540?b=1&k=20&m=802636540&s=170667a&w=0&h=txeuWEOUUkSwnrLCriOBb4MaSVpVIXtFiXX7MW-DD_s=);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

