.body{
    background-image: url("./background-img.jpg");
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.outline-delete {
    border: none !important;
}

.outline-delete:focus {
    border: none !important;
    background-color:#80150b !important;
    box-shadow: none !important;
}

.btn-outline-light:hover {
    color: black !important;
    font-weight: bold !important;
}

.nav-color {
    color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(248, 249, 250)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border: 2px solid #f8f9fa !important;
}

@media screen and (max-width: 992px) {

    .m-2 {
        width: 90% !important;
    }

    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

}


@media screen and (max-width: 768px) {

    h1 {
        font-size: 26px !important;
    }

    h2 {
        font-size: 20px !important;
    }
}


